<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href="<%= Routes.static_path(@conn, "/favicon.ico") %>">
    <title>bnm_app</title>
    <link href="<%= Routes.static_path(@conn, "/css/app.9684c5bf.css") %>" rel=preload as=style>
    <link href="<%= Routes.static_path(@conn, "/css/chunk-vendors.496dd37e.css") %>" rel=preload as=style>
    <link href="<%= Routes.static_path(@conn, "/js/app.f5ecd76d.js") %>" rel=preload as=script>
    <link href="<%= Routes.static_path(@conn, "/js/chunk-vendors.56856553.js") %>" rel=preload as=script>
    <link href="<%= Routes.static_path(@conn, "/css/chunk-vendors.496dd37e.css") %>" rel=stylesheet>
    <link href="<%= Routes.static_path(@conn, "/css/app.9684c5bf.css") %>" rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but bnm_app doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id=app></div>
    <script src="<%= Routes.static_path(@conn, "/js/chunk-vendors.56856553.js") %>"></script>
    <script src="<%= Routes.static_path(@conn, "/js/app.f5ecd76d.js") %>"></script>
</body>

</html>









